.catalog{
  display: flex;
  border: 1px solid darkgrey;
  &__settings {
    border-right: 1px solid grey;
    max-width: 300px;
    &-title {
      display: inline-block;
      color: #3e77aa;
      font-size: 16px;
      margin: 15px 15px 5px;
    }
    &-top-menu{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-weight: bold;
    }
    &-filter-item{
      display: flex;
      position: relative;
      justify-content: center;
      border: 1px solid grey;
      margin: 10px;
      width: 100px;
      height: 30px;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover{
        background-color: darkseagreen;
      }
      &:after{
        content:'X';
        position: absolute;
        right: 10px;

      }
    }
  }
  &__search-title-form{
    display: flex;
    margin: 10px;

    .valid{
      border: 1px solid #018201;
      background-color: #abfc2f;
    }
    .inValid{
      border: 1px solid #fa0202;
      background-color: #c95a5a;
    }
  }
  &__author-list-item {
    list-style: none;
  }
  &__author-list{
    padding-left: 10px;
  }
  .status-message{
    padding-left: 10px;
  }
}
