.vue-app-wrapper {
}
.cards_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 50px;
  width: 100%;

}
.card{
  border: 1px solid black;
  max-width: 400px;
  height: 600px;
  margin: 20px;
  text-align: center;
}
.author__list-item{
  cursor: pointer;
}
